clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
open_clip_torch==2.26.1
fairlearn==0.12.0
geomstats==2.8.0
googledrivedownloader==0.4
jsonargparse==4.36.0
lightning==2.5.0.post0
matplotlib==3.10.3
numpy==2.2.6
pandas==2.2.3
peft==0.14.0
Pillow==11.2.1
pytorch_lightning==2.5.0.post0
PyYAML==6.0.2
PyYAML==6.0.2
Requests==2.32.3
scikit_learn==1.6.1
scipy==1.15.3
StrEnum==0.4.15
torch==2.6.0
torchmetrics==1.6.1
torchvision==0.21.0
tqdm==4.67.1
transformers==4.48.3
wandb==0.19.11
wandbbq==0.0.2
