auto_mix_prep==0.2.0
clip==0.2.0
einops==0.8.1
fairlearn==0.12.0
hydra-core==1.3.2
jsonargparse==4.36.0
lightning==2.5.0.post0
matplotlib==3.10.0
numpy==2.2.2
omegaconf==2.3.0
pandas==2.2.3
peft==0.14.0
permutations==0.2.0
Pillow==11.1.0
pytorch_lightning==2.5.0.post0
Requests==2.32.3
scikit_learn==1.6.1
scipy==1.15.1
torch==2.6.0
torchmetrics==1.6.1
torchvision==0.21.0
tqdm==4.67.1
transformers==4.48.3
utils==1.0.2
wandb==0.19.6
wandbbq==0.0.2
